.information-body {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

.information-field {
    margin-bottom: 20px;
}

.information-text {
    font-size: 14px;
}

.display {
    display: block;
    color: red;
 
}

.hide {
    display: none;
}