.AppointmentView {
    height: calc(100vh - 100px);
    margin-top: 10px;
}

.AppointmentView .appointment-body {
    height: 100%;
}

.AppointmentView .emailBg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.AppointmentView .mailCard {
    margin: auto;
    margin-top: 75px;
    width: 30rem;
    height: auto;
    max-height: 550px;
}


.mailCard .section {
    font: 500 14px/24px Source Sans Pro, sans-serif;
    letter-spacing: 0px;
    color: #808080;
    text-transform: uppercase;
}

.mailCard .sectionTitle {
    font: 500 10px/14px Source Sans Pro, sans-serif;
    letter-spacing: 0px;
    color: #808080;
    text-transform: uppercase;
}

.AppointmentView .mailCard .sectionValue {
    font: 600 14px/18px Source Sans Pro, sans-serif;
    letter-spacing: 0px;
    color: #808080;
    margin-bottom: 15px;
    height: 10px;
}

.mailCard .providerImg {
    width: 64px;
    height: 64px;
}

.AppointmentView .mailCard .card-top {
    background-color: #0089E1;
    color: white;
    height: 85px;
}

.AppointmentView .details {
    margin-top: -10px;
}

.AppointmentView .card-body {
    height: 100%;
    padding-left: 3em;
    padding-right: 3em;
    margin-top: 20px;
}

.AppointmentView .service-provider-container {
}

.AppointmentView .content {
    height: 100%;
    margin-top: -15px;
}

.mailCard .serviceName {
    text-align: center;
    font: 500 24px/47px Manrope3, sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.mailCard .appointId {
    text-align: center;
    font: 700 24px/47px Manrope3, sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: -10px;
}

.mailCard .providerInitials {
    width: 64px;
    height: 64px;
    background: #0089E1;
    font: 700 24px/47px Manrope3, sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.duration-type {
    text-transform: lowercase;
    margin-bottom: -15px;
}

.duration-type:first-letter { text-transform: uppercase; }

.line-separator {
    width: 98%;
    color: lightgray;
    border-top: solid 1px;
    margin-top: -20px;
}

.service-description {
    font-weight: 400;
}

.AppointmentView .details-title {
    font-weight: 600;
    margin-top: 10px;
}

.AppointmentView .name-section {
    margin-top: -15px;
}

.AppointmentView .appointment-details-section {
    margin-top: -20px;
}

.AppointmentView .details-left, .details-right {
    width: 50%;
}

.AppointmentView .details-row {
    margin-top: 5px;
    margin-bottom: 5px;
}


