.appointment-post {
    height: calc(160vh - 80px);
    background: #F0F4F6;
}

.appointment-post .main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.appointment-post .mailCard {
    height: 100%;
    margin: auto;
    margin-top: 75px;
}

.post-mailCard {
    width: 800px;
}

.post-top {
    background-color: #D7E7EE;
    height: 372px;
}

.banner-title {
    font-size: 36px;
    color: #373737;
    letter-spacing: 0px;
}

.banner-images {
    width: 100%;
    text-align: center;
}

.banner-images-sub {
    width: 100%;
    margin-top: -120px;
}

.banner-image-main {
    height: 170px;
}

.banner-image-sub {
    height: 155px;
    float: right;
    width: 40%;
}

.post-details {
    font: 500 16px/28px Source Sans Pro, sans-serif;
    letter-spacing: 0px;
    color: #373737;
    margin: auto;
    width: 85%;
}

.post-details-container {
}

.post-details table *{
    text-align: initial;
}

.post-details td{
    letter-spacing: 0px;
    color: #BBBBBB;
    padding: 10px 15px;
    vertical-align: initial;
}

.post-details p{
    font: 500 16px/28px Source Sans Pro, sans-serif;
    letter-spacing: 0px;
    color: #373737;
}

.appointment-post .appointmentDetails {
    background-color: #f3f3f3;
    border-left: solid 4px #E4E4E4;
    padding: 15px;
    border-radius: 5px 0px 0px 5px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.appointment-post-container {
    width: 100%;
}

.appointment-post-message-container {
    font-weight: 550;
}

.button-container {
    justify-content: center;
}

.new-appointment-button {
    text-align: center;
    font: Bold 14px/15px Source Sans Pro, sans-serif;
    letter-spacing: 0px;
    color: #FAFBFE !important;
    display: inline-block;

    background: #0089E1 0% 0% no-repeat padding-box;
    border-radius: 4px;
    padding: 15px;
    text-decoration: none;
}

.bottomLink {
    font: 500 11px/25px Source Sans Pro, sans-serif;
    letter-spacing: 0px;
    color: #6C6C6C;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 46px auto 15px auto;
    text-align: center;
}

.bottomLink img {
    padding-top: 0px;
    margin-top: -8px;
}