.AppointmentCancel .rightDetails{
    width: 700px;
    min-width: 280px;
    margin: auto;
}
.rightDetails div,
.rightDetails h3,
.rightDetails p{
    text-align: center;
}
.rightDetails table *{
    text-align: initial;
}
.AppointmentCancel .companyLogo img{
    width: auto;
}
.AppointmentCancel .companyLogo {
    height: 150px;
}
.rightDetails td{
    letter-spacing: 0px;
    color: #303030;
    padding: 10px 15px;
    vertical-align: initial;
}
.rightDetails p{
    font: 500 16px/28px Source Sans Pro, sans-serif;
    letter-spacing: 0px;
    color: #373737;
}
.AppointmentCancel .appointmentDetails{
    background-color: rgba(0, 137, 225, 0.05);
    border-left: solid 4px #0089E1;
    padding: 15px;
    border-radius: 5px 0px 0px 5px;
    width: 95%;
    margin: auto;
    margin-bottom: 15px;
}
.actionLinks{
    text-align: center;
    font: Bold 14px/15px Source Sans Pro, sans-serif;
    letter-spacing: 0px;
    color: #FAFBFE !important;
    display: inline-block;

    background: #0089E1 0% 0% no-repeat padding-box;
    border-radius: 4px;
    padding: 15px;
    text-decoration: none;

    width: 150px;
    margin-right: 20px;
}
.link{
    text-decoration: underline;
    font: 500 16px/32px Source Sans Pro, sans-serif;
    letter-spacing: 0px;
    color: #0089E1;
}
.paragraph{
    font: 500 16px/32px Source Sans Pro, sans-serif;
    letter-spacing: 0px;
    color: #808080;
    margin: 42px auto;
}
.bottomLink{
    font: 500 11px/25px Source Sans Pro, sans-serif;
    letter-spacing: 0px;
    color: #6C6C6C;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 46px auto 15px auto;
    text-align: center;
}
.bottomLink img{
    margin: 0 0 -5px 7px;
}

.AppointmentCancel .appointment-container {
    width: 90%;
    margin-top: 55px;
}

.appointment-container-title {
    font-family: Source Sans Pro, sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: #373737;
}

.appointment-container-title-sub {
    font-size: 15px;
    color: gray;
    margin-bottom: 20px;
}

.AppointmentCancel .appointment-container-buttons {
}

.btn-cancel {
    background-color: #FAFAFA !important;
    color: gray !important;
    border-color: #FAFAFA !important;
}

.appointment-details-label {
    font-weight: bold;
    font-family: Source Sans Pro, sans-serif;
    color: #373737;
}

.top-right-cancel {

}

.AppointmentCancel .title-section {
}

.AppointmentCancel .main-content {
    height: 100%;
}