.brand-panel {
    /*margin-left: 100px;
    margin-top: 30px;*/
    height: calc(100vh - 345px);
}

.brand-image {
    max-height: 200px;
    max-width: 200px;
    border-radius: 90px;
}
.step-panel-origin {
    
}
.step-panel {
    height: 250px;
    line-height: 250px;
    width: 200px;
    color: lightgrey;
    border-left-style: solid;
    border-left-color: lightgrey;
    background-color: white;
    margin-left: -45px;
    padding-left: 15px;
    /*border-left-style: solid;
    border-width: thin;*/
    /*text-align: center;*/
    /* margin-left:33px; */
}
.step-image{
    margin-left: 45px;
    border-width: thin;
    text-align: right;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.step-panel-span {
    display: inline-block;
    color: #BBBBBB;
    vertical-align: middle;
    line-height: normal;
    text-align: left;
    font-size: 14px;
}

.step-panel-current-step {
    font-weight: bold;
    color: #0089E1;
    font-size: 14px;
}

.steps {
    font-family: Source Sans Pro, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #373737;
}

.step-label {
    font-family: Source Sans Pro, sans-serif;
    font-size: 14px;
    color: #373737;
}

.step-panel-past-step {
    font-family: Source Sans Pro, sans-serif;
    font-size: 14px;
    color: #0089E1;
    opacity: 0.5 !important;
}

.brand-step-container {
}

.left-container {
    height: 100%;
    width: 100%;
}

.right-container {
    height: 100%;
    width: 100%;
    margin: auto;
    min-height: 300px;
}

.brand-container {
    margin-left: 25px;
}
