.company-header-panel {
    height: 80px;
    text-align: center;
    margin-top: 90px;
}

.company-header-panel-left {
    height: 160px;
    text-align: left;
    margin-left: 22%;
}

.company-header-logo {
    margin-top: 15px;
    max-width: 130px;
    min-width: 100px;
    max-height: 120px;
    min-height: 40px;
}

.company-header-text {
   color: #0089E1;
   font-weight: 550;
   font-size: 26px;
   font-family: Source Sans Pro, sans-serif;
}

.company-sub-header-text {
    font-family: Source Sans Pro, sans-serif;
    font-size: 16px;
    color: #0089E1;
}

.company-header-container {
    margin-top: 20%;
    width: 100%;
}