*:focus {
    outline: none;
}

.card-body-booking {
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.arrow-back {
    font-size: 20px;
}

.next-arrow {
    margin-top: -2px;
}

.back-arrow {
    transform: scale(1.4);
}

.button-disable {
    background-color: gray !important;
    border-color: gray !important;
}

.next-navigate-button {
    float: right;
    font-size: 12px !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    height: 42px;
}

.back-navigate-button {
    float: left;
    font-size: 12px !important;
    color: #373737 !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    height: 42px;
    margin-top: 3px;
}

.card-header {
    margin-top: 7px;
    min-height: 65px;
}

.card-footer {
    border: none;
    background-color: #FAFAFA;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 32px;
    padding-right: 32px;
}

.header-title {
    font-size: 24px;
    font-family: Source Sans Pro, sans-serif;
    color: #373737;
    font-weight: 500;
}

.space-below {
    height: 50px;
}

.card-body-title {
    font-family: Source Sans Pro, sans-serif;
    font-size: 14px;
    color: #373737;
}

.card-main {
    margin-top: 20%;
    box-shadow: -1px 3px 28px -9px rgba(0,0,0,0.15);
    height: 580px;
    width: 100%;
}

.card-body-main::-webkit-scrollbar {
    width: 10px;
 }

 .scrollable-main {
    height: 100%;
    width:106.2%;
    overflow-y: auto;
 }

#scrollId::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    	background-color: #F5F5F5;
 }

#scrollId::-webkit-scrollbar-thumb {
  background-color: #C8C8C8;
}

#scrollId::-webkit-scrollbar {
 	width: 6px;
    background-color: #F5F5F5;
}

.scrollable-content {
    height: 100%;
    width: 92%;
    padding-top: 25px;
}
/**/
.DayPicker-Caption select:first-child {color: #6c757d}
.DayPicker-Caption select:first-child option{color: black}
.DayPicker-Caption select {color: #0089E1}
.DayPicker-Caption select option{color: black}
.DayPicker-Caption select {
    background: white;
    padding: 2px;
    border: 0;
    width: auto !important;
    font-weight: bold;
}
.DayPicker-Month {
    margin: 0;

}

@media (max-width: 767px) {
    .main-content {
        height: auto !important;
        margin-bottom: 20px;
    
    }
    .right-container {
        margin-top: -15px !important;
    }
    .booking-card-content {
        padding-top: 5px !important;
    }
    .scrollable-main {
        height: auto;
        overflow-x: hidden !important;
    }
    #scrollId::-webkit-scrollbar {
        display: none;
    }
    .scrollable-content {
        padding-top: 5px;
    }
    .company-header-container {
        margin-top: 25% !important;
    }
    .company-sub-header-container {
        margin-top: -10px !important;
    }
    .company-header-panel-left {
        margin-left: 25px !important;
        height: 100% !important;
        text-align: center !important;
    }
    .brand-container {
        margin-left: 2px !important;
    }
    .brand-step-container {
        padding-top: 15px;
        height: 45px;
    }
    .brand-panel{
        height: auto !important;
    }
    .step-progress {
        display: none;
        height: 0px;
    }
    #stepProgressLabelId {
        display: none;
    }
    .step-panel {
        line-height: 0px !important;
    }
    .card-main{
        margin-top: 0;
        height: auto;
    }
    .card-header {
        padding: 2px;
        padding-bottom: 0px;
        padding-top: 0px;
        min-height: 50px !important;
    }
    .card-body-booking {
        margin-left: 0px;
        margin-right: 0px;
        padding: 5px;
        min-height: 100%;
        margin-bottom: 20px;
    }
    .card-main {
        box-shadow: none;
        border-radius: 0px;
        border: none;
    }
    .card-footer {
        position: fixed;
        width: 90%;
        height: 60px;
        bottom: 0px;
        z-index: 1;
    }
    .service-cost-container {
        width: 75px !important;
    }
    .footer-holder {
        height: 120px;
    }
    .card-message {
        border: none !important;
    }
    .card-message-footer {
        width: 100%;
        background: transparent;
        position: inherit !important;
        z-index: 0 !important;
        bottom: auto !important;
    }
    .card-message-footer button {
        margin: auto;
    }
    .company-header-row-success .company-header-logo {
        max-height: 75px;
        max-width: 75px;
        margin-bottom: 5px;
    }
    .company-header-row-success .company-header-text {
        font-size: 16px;
    }
    .company-header-row-success .company-sub-header-text {
        font-size: 14px;
    }
    .appointment-calendar {
        margin-left: -5px;
    }
    .next-navigate-button {
        height: 35px !important;
    }
    .back-navigate-button {
         margin-top: 1px;
    }
    .message-container {
        margin-top: 55px;
    }
    #footerId {
        height: 70px;
    }
    #companyHeaderDateId {
        display: none;
    }
}
@media (max-width: 960px) {
    .brandColFirst{display: none}

}

.main-content {
    height: auto;
    margin-bottom: 20px;
}

.loading-container {
    text-align: center;
}

.main-message {
    font-size: 24px;
    text-align: center;
    margin-top: 100px;
    font-family: Source Sans Pro, sans-serif;
    color: #373737;
}

.row-center {
    justify-content: center;
}

.general-toast {
    width: 100%;
}

.toast-message {
    width: 100px;
}

.Toastify__close-button{
    height: 16px;
    width: 16px;
}
.Toastify__toast--info {
    background: #3498db;
    padding-left: 32px;
    font: 600 14px/19px Source Sans Pro, sans-serif;
    letter-spacing: 0px;
    opacity: 1;
}

.Toastify__toast--success svg path{
    fill: #288E16 !important;
}
.Toastify__close-button--success {
    margin-top: 12px;
    margin-right: 12px;
    background: #288E16 !important;
    border-radius: 50%;
    height: 18px;
    width: 17px;
}
.Toastify__toast--success {
    background: #EAFAF0 !important;
    color: #288E16 !important;
    padding-left: 32px;
    font: 600 14px/19px Source Sans Pro, sans-serif;
    letter-spacing: 0px;
    opacity: 1;
}

.Toastify__toast--warning svg path{
    fill: #FEA128 !important;
}
.Toastify__close-button--warning {
    margin-top: 12px;
    margin-right: 12px;
    background: #FEA128 !important;
    border-radius: 50%;
    height: 18px;
    width: 17px;
}
.Toastify__toast--warning {
    background: #FFF5E5 !important;
    color: #FFA100 !important;
    padding-left: 32px;
    font: 600 14px/19px Source Sans Pro, sans-serif;
    letter-spacing: 0px;
    opacity: 1;
}

.Toastify__toast--error svg path{
    fill: #FF2E1E !important;
}
.Toastify__close-button--error {
    margin-top: 12px;
    margin-right: 12px;
    background: #FF2E1E !important;
    border-radius: 50%;
    height: 18px;
    width: 17px;
}
.Toastify__toast--error {
    background-color: #FBE6E6 !important;
    color: #FF2E1E !important;
    padding-left: 32px;
    font: 600 14px/19px Source Sans Pro, sans-serif;
    letter-spacing: 0px;
    opacity: 1;
}

.Toastify__toast-container--top-right {
    top: 4.4rem !important;
    right: 1.3em !important;
    width: auto !important;
}

@media (max-width: 768px) {
    .FreePeriod > div{display: block !important}

    .Toastify__toast-container--top-right {
        top: 4.4rem!important;
        right: 0 !important;
        width: 100%!important;
        margin: auto!important;
    }
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        /*width: 250px;*/
        background-color: white;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px !important;
    }

    #page-content-wrapper {
        /*padding: 20px;*/
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper,
    #page-content-wrapper {
        /*padding: 20px;*/
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        /*position: relative;
            margin-right: 0;*/
    }

    .AccountManagers .table {
        width: max-content;
    }
}

.Toastify__toast-body {
    margin-right: 35px;
}

.app-content-main {
    width: 380px;
    margin: auto;
}

.booking-card-content {
    padding-top: 20px;
}

#headerImageId {
    max-height: 55px;
    max-width: 70px;
}

#topnavHeaderId {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}
#footerId {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 1;
}

.PhoneInputInput {
    border: none;
}