.agent-info {
    height: 120px;
    width: 135px;
    border-radius: 4px !important;
    background-color: white !important;
    border-color: lightgray !important;
    color: black !important;
    font-size: 14px;
    margin-right: 17px;
    margin-left:2px;
    margin-bottom: 20px;
}

.agent-info:not(:first-child) {
    margin-left: 1px !important;
}

.agent-name {
    text-transform: capitalize;
    font-weight: 550;
    font-family: Source Sans Pro, sans-serif;
    font-size: 14px;
    color: #373737;
    padding-bottom: 2px;
}

.agent-info-active {
    color: white !important;
    background-color: #0089E1 !important;
    -webkit-box-shadow: 0px 0px 23px 2px rgba(0,139,225,0.5);
    -moz-box-shadow: 0px 0px 23px 2px rgba(0,139,225,0.5);
    box-shadow: 0px 0px 23px 2px rgba(0,139,225,0.5);
}

.agent-info-active label {
    color: white !important;
}

.agent-info:hover {
    color: white !important;
    background-color: #0089E1 !important;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 23px 2px rgba(0,139,225,0.5);
    -moz-box-shadow: 0px 0px 23px 2px rgba(0,139,225,0.5);
    box-shadow: 0px 0px 23px 2px rgba(0,139,225,0.5);
}

.agent-info:hover label {
    color: white !important;
    cursor: pointer;
}

.agent-initial {
    font-size: 36px;
}

/* .agent-profile-pic {
    height: 60px;
    width: 50px;
    padding-top:10px;
} */

.group-agent {
    margin-bottom: 2em;
    width: 100%;
    display: inline-block;
}
