.rs-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  height: 70px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.75px solid #e4e4e4;
  opacity: 1;
}

.rs-header-logo {
  width: 55px;
  height: 41px;
}

.rs-header-logoDesc {
  color: #0089e1;
  opacity: 1;
  font: normal normal 600 8px/11px Source Sans Pro;
  letter-spacing: 0px;
}
.rs-header-language-selector {
  color: #bbbbbb;
  font: normal normal bold 12px/24px Source Sans Pro;
  text-transform: uppercase;
  opacity: 1;
  letter-spacing: 0px;
  border: none;
}
.rs-header-language-selector:active,
.rs-header-language-selector:hover,
.rs-header-language-selector:focus {
  border: none;
}

@media only screen and (max-width: 600px) {
}
