.card-message {
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.card-message-body {
    text-align: center;
}

.card-message-footer {
    text-align: center;
    height: 65px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.success-img {
    margin-bottom: 1em;
}

.success-great-label {
    color: #0089E1;
    font-size:18px;
    font-weight: bold;
}

.success-msg-label-1 {
    font-size:18px;
    color: #808080;
}

.success-msg-label-2 {
    font-size:14px;
    color: #808080;
}

.book-button {
    font-size: 8px;
    width: 200px;
    height: 40px;
}

.message-container-col {
    width: 600px;
}

.message-col {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}
