.card-header {
    background-color: white;
    min-height:70px;
}

.category-header {
    border:solid;
    color: white;
}

.category-header-active {
    border:solid 1px;
    color: #0089E1;
}

.category-header-link {
    width: 100%;
    text-align: left;
}

.category-header-content {
    margin-top: -2%;
}

.accordion .card .card-header:after {
     background-color: red;
}

.category-label {
    margin-bottom: -10px;
    font-family: Source Sans Pro, sans-serif;
    font-size:16px;
    font-weight: 550;
}

.category-header-name {
    font-size:16px;
    color: #373737;
    text-transform: none;
    font-family: Source Sans Pro, sans-serif;
}

.category-service-size {
    color: #373737;
    font-size: 14px;
    margin-right:14px;
}

.service-radio {
    height: 70px;
    display: flex;
    justify-content: space-between;
    border: solid 1px #E4E4E4;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    cursor: pointer;
}

.service-radio-selected {
    border: solid 1px #0089E1;
    box-shadow: 0px 3px 8px #0000001A;
}

.service-name, .service-category {
    color: #373737;
    margin-left: 10px;
    font-size: 14px;
    font-family: Source Sans Pro, sans-serif;
}

.service-name {
    font-weight: 600;
    height: 10px;
    color: #303030;
}

.service-category {
    margin-top: -10px;
    font-weight: 400;
    color: #808080;
}

.service-image {
    margin-left: 30px;
    margin-right: -15px;
    margin-top: -5px;
    height: 40px;
    width: 55px;
}

.service-no-image {
    margin-left: 15px;
}

.custom-control-label {
    color: #373737;
    font-size: 14px;
    font-weight: bold;
    display: block;
}
.custom-control.custom-checkbox{
    margin-left: 5px;
}
.service-checkbox {
    vertical-align: middle;
    position: relative;
    margin-right: 10px;
}

.service-cost {
    color: #0089E1;
    font-size:16px;
    min-width: 50px;
    margin-top: 5px;
}

.card-services {
    box-shadow: -1px 3px 28px -9px rgba(0,0,0,0.15);
}


.service-details {
    margin-left: -5px;
    display: flex;
    margin-top: 15px;
}

.service-check {
    min-height: 0px;
    padding-top: 5px;
}

.service-details-content {
    margin-left: 20px;
}

.service-info {
    margin-bottom: 5px;
}

.service-cost-container {
    width: 100px;
    float: right;
    margin-top: 15px;
}

.service-title-container {
    margin-top: -10px;
    margin-bottom: 5px;
}

.service-cost-sub-container {
    display: flex;
}

.service-cost-separator {
    height: 33px;
    width: 10px;
    border-left: 1px solid #E4E4E4;
}

.no-service-container {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #373737;
    text-transform: none;
    font-family: Source Sans Pro, sans-serif;
}