.btn-slot {
    margin-right: 14px;
    margin-bottom: 2%;
    width: 140px;
    height: 40px;
    border-color: lightgray;
    color: gray;
    border-radius: 3px;
}

.btn-slot-active {
    background-color: #0089E1;
    color: white !important;
    -webkit-box-shadow: 0px 0px 23px 2px rgba(0,139,225,0.5) !important;
    -moz-box-shadow: 0px 0px 23px 2px rgba(0,139,225,0.5) !important;
    box-shadow: 0px 0px 23px 2px rgba(0,139,225,0.5) !important;
}

.slot-group {
    width: 100%;
    display: inline-block;
}

.hide {
    visibility: hidden;
}

.select-slot-panel {
    margin-top: 5%;
    width: 100%;
    border-top: solid;
    border-width: thin;
    border-color: rgba(0,0,0,.125);
    margin-left: 1%;
    display: block;
}

.select-slot-label {
    margin-top: 3%;
    margin-bottom: 3%;
}

.appointment-calendar {
    width: 100%;
    margin-top: -30px;
}

.DayPicker-Caption {
    text-transform: uppercase;
}

.DayPicker-Month {
    min-width: 102%;
}
.DayPicker-Day--disabled:before {
    border: solid 2px silver !important;
}

.DayPicker-Day--outside:before {
    border: solid 2px transparent !important;
}
.DayPicker-Day:before {
    content: " ";
    border: solid 2px #0089E1;
    width: 100%;
    height: 0;
    position: absolute;
    top: -2px;
    left: 0;
}
.DayPicker-Day {
    position: relative;
    font-size: 12.5px;
}
.DayPicker-Day {
    border-width: thin;
    border-top: solid;
    border-top-color: #0089E1;
    background: rgba(0,127,249,.1) 0 0 no-repeat padding-box;
    border-radius: 0%;
    color: black !important;
}

.DayPicker-Week {
    border-top-color: white;
}

.DayPicker-Day {
    border: 17px solid white;
    border-right: 24px solid white !important;
    border-left: -1px solid white !important;
}

.DayPicker-Day--disabled {
    background-color: #fafafa;
    color: gray;
}

.DayPicker-Day--outside {
    background-color: transparent !important;
    border-color: transparent !important;
}


.DayPicker-Caption select {
    margin-right: 20px;
    margin-left: -10px;
    width: 150px;
    font-family: Source Sans Pro, sans-serif;
    font-size: 14px;
}

.DayPicker-Caption {
    color: #373737;
    font-size: 14px;
    font-weight: 550;
    font-family: Source Sans Pro, sans-serif;
}

.day-picker-select-year {
    color: #0089E1;
}

.DayPicker-Weekday {
    text-transform: uppercase;
    font-family: Source Sans Pro, sans-serif;
    color: #373737;
    font-size: 13px;
}

.DayPicker-NavButton--prev {
    margin-right: 45px;
}

.DayPicker-NavButton {
    top: 0px !important;
    right: 7px !important;
}

.label-timezone {
    margin-bottom: 15px;
}

.DayPicker {
  display: inline-block;
}

.header-label {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.booking-calendar-main {
    height: 340px;
    margin-top: 40px;
}

.appointment-calendar .DayPicker-NavButton--interactionDisabled {
    display:block !important;
    cursor: default !important;
}

.slot-timezone {
    color: #BBBBBB;
}